<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/userHome.css">
<title>Lab 1</title>
</head>
  <body>
    <% if (user !== null) { %>
        <h1>Welcome <%= user %>!</h1>
    <% } else { %>
        <h1>Not Welcome!</h1>
    <% } %>
    <script src="scripts/home.js" type="text/javascript"></script>
  </body>
</html>