<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/store.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <div class="topnav">
        <a  href="#login">logout</a>
        <a href="/reservations">reservations</a>
        <div class="search-container">
          
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
          
        </div>
      </div>
<main>
    <div class='grid-container'>
        <% cars.forEach(car => { %>
            <div class='car-card'>
                <img class='car-image' src=<%= car.image %> alt="car">
                <div class='car-detail'>
                    <h4><% `${car.make} ${car.model}` %></h4>
                    <!-- <button class='card-action btn'>reserve</button> -->
                    <!-- <form class='reservation-form'>
                         <label>start date:</label><input type="date">
                         <label>end date:</label><input type="date">
                         <button class='btn'>checkout</button>
                    </form> -->
                </div>
              </div>
        <% }); %>
    </div>
    
</main>
      

      
<!-- <script src="scripts/userHome.js"></script> -->
</body>
</html>